<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key><string>com.tommy.ptt-web</string>
  <key>ProgramArguments</key>
  <array>
    <string>/usr/bin/caffeinate</string><string>-i</string><string>-s</string>
    <string>/opt/homebrew/opt/node@22/bin/node</string>
    <string>/Users/huangyanming/dev/ptt/node_modules/.bin/next</string>
    <string>start</string><string>-p</string><string>3200</string>
  </array>
  <key>WorkingDirectory</key><string>/Users/huangyanming/dev/ptt</string>
  <key>EnvironmentVariables</key>
  <dict>
    <key>PATH</key><string>/opt/homebrew/opt/node@22/bin:/usr/bin:/bin</string>
    <key>NODE_ENV</key><string>production</string>
  </dict>
  <key>RunAtLoad</key><true/>
  <key>KeepAlive</key><true/>
  <key>StandardOutPath</key><string>/Users/huangyanming/dev/ptt/logs/web.log</string>
  <key>StandardErrorPath</key><string>/Users/huangyanming/dev/ptt/logs/web.error.log</string>
</dict>
</plist>
